<div class="light-box">
    <div class="light-box-header">
      <span class="light-box-header-right">
        <a id="closeIcon" class="btn close-icon" (click)="cancelNavigation()"></a>
      </span>
      <span class="text-title-2">Unsaved Changes</span>
      <hr />
    </div>
    <div class="light-box-content">
      <p>Please confirm that you would like to discard your unsaved changes</p>
    </div>
    <div class="light-box-footer">
      <span class="light-box-footer-right">
        <button id="proceedButton" class="btn btn-primary btn-sm" (click)="proceedToNavigate()">Discard Changes</button>
      </span>
    </div>
  </div>
  
